<!DOCTYPE html>
<html>

<head>
    <title>Book Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4 shadow w-25">
        <h2 class="text-center text-primary">{{ thisBook.title }}</h2>
        <p class="text-center">ID: {{ thisBook.id }}</p>
        <p class="text-center">Description: {{ thisBook.desc }}</p>
        <p>Authors:</p>
        <ul>
            {% for auth in associated_authors %}
            <li>{{ auth.first_name }} {{ auth.last_name }}</li>
            {% endfor %}
        </ul>
        <form action='/add_auth_to_book/{{ thisBook.id }}' method='post'>
            {% csrf_token %}
            <select class="m-4" name="auth_id">
                {% for auth in non_associated_authors %}
                <option value="{{ auth.id }}">{{ auth.first_name }} {{ auth.last_name }}</option>
                {% endfor %}
            </select>
            <input class="btn-success" type="submit" value="Add">
        </form>
            <a class="text-decoration-none text-info" href="/">Back to Books</a>
    </div>

</body>

</html>